# Server
HOST=0.0.0.0
PORT=1337

# Secrets
APP_KEYS="2b2c6f3ed00b20aa476d05dd13855e9daf01676b9054dc4370de6cba2b294c9f"
API_TOKEN_SALT=9f7831f288e589bd3aaaeab43eef1748aee1cdb5399bc9d46bb57db6983b9089
ADMIN_JWT_SECRET=20c2217a7b5abd43573cfa75a360084d8041d567ed715083271f0a84ddd5f515
TRANSFER_TOKEN_SALT=ae30405b95d6cda40368fff085ec18f7a0b1bbf112aee95251175da2c869c342
JWT_SECRET=ae30405b95d6cda40368fff085ec18f7a0b1bbf112aee95251175da2c869c342

# Database
DATABASE_URL=tobemodified
DATABASE_CLIENT=tobemodified
DATABASE_HOST=tobemodified
DATABASE_PORT=tobemodified
DATABASE_NAME=tobemodified
DATABASE_USERNAME=tobemodified
DATABASE_PASSWORD=tobemodified
DATABASE_SSL=false

# Storage
DO_SPACE_PATH=tobemodified
DO_SPACE_ACCESS_KEY=tobemodified
DO_SPACE_SECRET_KEY=tobemodified
DO_SPACE_REGION=tobemodified
DO_SPACE_ENDPOINT=tobemodified
DO_SPACE_BUCKET=tobemodified
SPACE_URL=tobemodified

STRAPI_WEBHOOK_REVALIDATION_SECRET=rrbtu03m15gu9rjqchcv0za1d0wjvjp4